body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5;
}

h1, h2 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 300px;
  align-items: center;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"] {
  margin-top: 5px;
  padding: 8px;
  font-size: 1em;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 450px;
}

button {
  margin: 10px;
  padding: 10px;
  font-size: 1em;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  transition: all 0.3s;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ccc;
  color: #333;
  cursor: not-allowed;
}

.button-downloading {
  color: #333;
  background-color: #ccc;
  border: 2px solid #ccc;
  animation: loading 2s linear infinite;
}

.button-downloading::after {
  content: "Downloading";
  animation: button-downloading 2s ease infinite;
}

@keyframes button-downloading {
  0% {
    content: "Downloading";
  }
  33% {
    content: "Downloading.";
  }
  66% {
    content: "Downloading..";
  }
  100% {
    content: "Downloading...";
  }
}

@keyframes loading {
  0% {
    border-top-color: #4CAF50;
    border-right-color: #ccc;
    border-bottom-color: #ccc;
    border-left-color: #ccc;
  }
  25% {
    border-top-color: #ccc;
    border-right-color: #4CAF50;
    border-bottom-color: #ccc;
    border-left-color: #ccc;
  }
  50% {
    border-top-color: #ccc;
    border-right-color: #ccc;
    border-bottom-color: #4CAF50;
    border-left-color: #ccc;
  }
  75% {
    border-top-color: #ccc;
    border-right-color: #ccc;
    border-bottom-color: #ccc;
    border-left-color: #4CAF50;
  }
  100% {
    border-top-color: #4CAF50;
    border-right-color: #ccc;
    border-bottom-color: #ccc;
    border-left-color: #ccc;
  }
}
#logs-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  max-height: max-content;
  width: 100%;
}
#foreground {
  display: flex;
  flex-direction: column;
  background-color: white;
  white-space: pre-wrap;
  flex-direction: column;
  max-height: 450px;
  overflow-y: scroll;
  overflow-wrap: break-word;
  margin: 20px;
}
#logs {
  border: 1px solid #333;
}